/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%; font-family: Arail, sans-serif;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


/*Шрифты и контейнер------------------------------------------------------------*/

body._lock{
	overflow: hidden;
}

.wrapper{
	min-height: 100%;
	min-height: 100%;
	

}

._container{
	max-width: 970px;
	padding: 0 15px;
	margin: 0 auto;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}


.ibg img{
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.header-block {
	text-align: center;
	margin-bottom: 80px;
}
.header-block__title {
	font-size: 40px;
	font-weight: bold;
	color: #222222;
	line-height: 185%;
	text-transform: uppercase;
}
.header-block__subtitle {
	font-size: 16px;
	color: #777777;
}

.title{
	color: #222;
	font-weight: bold;
	font-size: 18px;
}

.text{
	color: #777;
	font-size: 14;
	line-height: 130%;	
}



/*Шапка------------------------------------------------------------*/

.header {
	min-height: 115px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.header__container {
	height: 100%;
	width: 100%;	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {}
.header__menu {}
.menu-header {}
.menu-header__body {
	z-index: 10;
}
.menu-header__list {
	display: flex;
}
.menu-header__list > *:not(:last-child){
	margin: 0 40px 0px 0;
}
.menu-header__item {}
.menu-header__link {
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	transition: all 0.3s ease;
	line-height: 292%;
}

.menu-header__link:hover{
	opacity: 0.7;
}

.menu-header__icon {
	display: none;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 10;
	transition: all 0.3s ease;	
}

.menu-header__icon span:first-child{
	position: absolute;
	left: 0;
	top: 0%;
	width: 100%;
	height: 2px;
	background: white;	
	transition: all 0.3s ease;	
}

.menu-header__icon._active span:first-child{
	transform: rotate(135deg);
	transition: all 0.3s ease;	
	top: 50%;
}

.menu-header__icon span:nth-child(2){
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 2px;
	background: white;	
}

.menu-header__icon._active span:nth-child(2){
	opacity: 0;
	transition: all 0.3s ease;	
}

.menu-header__icon span:last-child{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 2px;
	background: white;	
	transition: all 0.3s ease;	
}

.menu-header__icon._active span:last-child{
	transform: rotate(-135deg);
	top: 50%;
	transition: all 0.3s ease;	
}





@media (max-width: 650px){
	.menu-header__body{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.9);
		display: flex;
		justify-content: center;
		transform: translate(0px, -200%);
		transition: all 0.5s ease;
		overflow: auto;
	}

	.menu-header__body._active{
		transform: translate(0px, 0px);
		transition: all 0.3s ease;
		overflow: auto;
	}
	.menu-header__list {
		flex-direction: column;
		text-align: center;
		margin: 120px 0 0 0;
	}
	.menu-header__list > *:not(:last-child){
		margin: 0 0 30px 0;
	}

	.menu-header__link{
		font-size: 30px;
	}
	.menu-header__icon{
		display: block;
	}
}


/*Main------------------------------------------------------------*/

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}
.page__main-screen {
	flex: 1 0 100%;
	position: relative;
}
.main-screen__container {
	display: flex;
	justify-content: center;
	padding: 270px 0 180px 0;
}
.main-screen__offer {
	text-align: center;
	color: white;
}
.offer {
}
.offer__label {
	font-size: calc(21px + 19 * (100vw / 1400));
	text-transform: uppercase;
	letter-spacing: normal;
}
.offer__label:not(:last-child){
	margin-bottom: 50px;
}
.offer__tittle {
	font-size: calc(31px + 44 * (100vw / 1400));
	font-weight: bold;
	text-transform: uppercase;
}
.offer__tittle:not(:last-child){
	margin-bottom: 60px;
}
.offer__button {
	font-size: 	18px;
	color: #484543;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 65px;
	padding: 5px 53px;
	background: #fed136;
	border-radius: 4px;
	transition: all 0.3s ease;
}
.offer__button:hover{
	opacity: 0.8;
}
.main-screen__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

@media (max-width: 871px){
	.offer__button {
		font-size: 	14px;
		padding: 5px 30px;
		min-height: 55px;
	}
}



/*Services------------------------------------------------------------*/



.page__services {
	padding: 120px 0;
}


.services__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.services__col {
	flex: 0 0 33.333%;
	padding: 0 30px;
	min-width: 280px;
}
.services__item {

}
.item-services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.item-services > *:not(:last-child){
	margin-bottom: 25px;
}

.item-services__title {}
.item-services__text {
	line-height: 160%;	
}

@media (max-width: 871px){
	.page__services {
		padding: 60px 0;
	}

	.services__row > *:not(:last-child){
		margin-bottom: 50px;
	}
}



/*portfolio------------------------------------------------------------*/

.page__portfolio {
	padding: 120px 0 135px 0;
	background: #f7f7f7;
}


.portfolio__row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}
.portfolio__col {
	flex: 0 0 33.333%;
	padding: 0 17px;
	min-width: 290px;
}
.portfolio__image {
	padding-bottom: 96.666%;

}

@media (max-width: 865px){
	.page__portfolio{
		padding: 60px 0 50px 0;
	}
	.portfolio__row > *:not(:last-child){
		margin-bottom: 30px;
	}
}



/*about------------------------------------------------------------*/

.page__about {
	padding: 130px 0 115px 0;
}
.about__row {
	display: flex;
	flex-direction: column;
}

.about__row > *:not(:last-child){
	margin-bottom: 95px;
}

.about__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.about__text1 {
	flex: 1 0 36%;
	min-width: 270px;
}

.about__text1 > *:not(:last-child),
.about__text2 > *:not(:last-child){
	margin-bottom: 10px;
}

.text-right{
	text-align: right;
}

.about__image1 {
	flex: 0 0 64%;
	padding-left: 40px ;
}
.text-about__title{
	line-height: 130%;
}
.text-about__title span{
	text-transform: uppercase;

}

.about__text2 {
	flex: 1 0 34%;
	min-width: 270px;
}

.about__image2 {
	flex: 0 0 64%;
	padding-right:  40px;
	text-align: right;
}

@media (max-width: 779px){
	.about__text1 > *:not(:last-child),
	.about__text2 > *:not(:last-child){
		margin-bottom: 10px;
		text-align: center;
	}
	.text-about__text{
		text-align: center;
	}
	.about__image2,
	.about__image1{
		text-align: center;
		flex: 0 0 100%;
		padding: 0;
	}
	.about__text2{
		order: 1;
	}
	.about__image2{
		order: 2;
	}
	.about__image2,
	.about__image1{
		margin-top: 20px;
	}
	.text-about__text{
		width: 290px;
		margin: 0 auto;
	}
}


/*about------------------------------------------------------------*/

.footer{
	padding: 0 0 117px 0;
	text-align: center;
}